.body
{
  
  height: 100%;
  
}
.full
{
  
  height: 100vh;
  width: 100vw;
  
}

#home
{
  
  height: 700px;
  width: 100%;
  background-color: #979797;
  background-image:url("../IMG/WebsiteHead.png");
  background-size:700px 700px;
  background-repeat: no-repeat;
  background-position: center;
  
}
#contact
{
  
  top:5000px;
  height: 300px;
  width: 100%;
  background-color: #979797;
  background-image:url("../IMG/contact.png");
  background-size:1000px 300px;
  background-repeat: no-repeat;
  background-position: center;
  
}
.h2
{

font-family:helvetica;
font-size:5px;

}
