.body
{
  
  height: 100%;
  
}
.full
{
  
  height: 100vh;
  width: 100vw;
  
}

#home
{
  
  height: 700px;
  width: 700px;
  background-image:url("/IMG/WebsiteHead.png");
  
}
